@font-face {
  font-family: "Heavyass";
  src: url("../Fonts/Heavitas.eot") format("embedded-opentype"),
    url("../Fonts/Heavitas.woff") format("woff"),
    url("../Fonts/Heavitas.woff2") format("woff2"),
    url("../Fonts/Heavitas.ttf") format("truetype"),
    url("../Fonts/Heavitas.svg#Heavitas") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
Main {
Display:flex;
flex-direction: column;

}
button {
  margin: 4px;
  border: 4px solid  rgb(150, 150, 150);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgb(16, 15, 15);
  color: rgb(150, 150, 150);
  font-size: large;
  font-family: "Heavyass";
  pointer-events: painted;
} 
button:hover{
  border: 4px solid  rgb(255, 252, 240);
  background-color: rgb(16, 15, 15);
  color: rgb(255, 252, 240); 
  transition-duration: 0.3s;
}
header{
  width: 86%;
  max-width: 420px;
  text-align: left; /* Center the text horizontally */
  color: rgb(206, 205, 195);
  margin-left: auto;
  margin-right: auto;

}
body {
  font-family: "Helvetica", sans-serif;
  }
header h1{
  text-align: left;
  font-size: medium;
  font-family: "Heavyass";
  }
header h2{
  text-align: right;
  font-size: small;
  font-family: "Heavyass";
  }
  header h3{
  text-align: left;
  font-size: small;
  font-family: "Heavyass";
  }
  body img {
  border-radius: 10px;
  }
  body h2 {
      width: 86%;
      max-width: 420px;
      text-align: right; 
      color: rgb(255, 252, 240);
      margin: 4px;
      margin-left: auto;
      margin-right: auto;
      font-family: "Heavyass";
      font-size: medium;
     }
  a {
  color: rgb(180, 215, 255);
  text-decoration: none;
  }